// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';
$grey: #54565A;
$yellow: #FFD040;
$white: #FFFFFF;
$black1: #000000;
$black2: #0A0A0A;
$black3: #141414;
$black4: #1F1F1F;
$black5: #222222;
// Fonts
//$fontMain: 'Proxima Nova', sans-serif;
$fontMain: 'Proxima-Nova';
$fontMainTh: 'Proxima-Nova';
$fontMainBold: 'Proxima-Nova';
$fontSecondary: '';
